
<!-- window div -->
<div class="container-fluid">
    <!-- whole page row -->
    <div class="row clearfix mt-3 m-0">

        <!-- main left column "student" -->
        <div class="col-md-4 h-100 m-0">
            <!-- "student name" -->
            <div class="row card mb-2 shadow">
                <div class="col">
                    <div class="row card-header dl-shader">
                        <div class="col text-center text-light">
                            <h6>ADD STUDENT</h6>
                        </div>
                    </div>
                    <div class="row card-text">
                        <form action="/students/create" method="POST">
	                          <textarea type="text" name="student_name"></textarea>

	                          <button type="submit">Submit</button>
                            </form>

                    </div>
                </div>
                
            </div>
           
             <!-- "student list" -->
             <div class="row card mb-2 shadow">
                <div class="col">
                    <div class="row card-header dl-shader">
                        <div class="col text-center text-light">
                            <h6>Student List</h6>
                        </div>
                    </div>

                    {{!-- select student --}}
                    <div class="row card-text">
                            <div class="input-group col">
                                <form action="/students/:id" method="GET" id="studentform">
                                    <select name="student_id" class="custom-select">
                                                <option>Choose...</option>
                                    

										   {{#each student_data}}
			  								    <option value={{this.id}}>{{this.id}}. {{this.student_name}}
											    </option>
			  							    {{/each}}
                                    </select>
                                    <button type="submit" class="btn btn-outline-secondary">Submit</button>
                                </form>
                            </div>       
                    </div>
                </div>
                
            </div>
        </div>
              

        <!-- main right column -->
        <div class="col-md-8 h-100 m-0 student-display">
           <p>student display</p>
			<h1>{{this.name}}</h1>

        
        </div>
    </div>
</div>
